.navbar {
    background-color: #554898;
}

.navbar-brand {
    color: red !important;
    font-weight: bold;
    font-size: 1.8vw;
    padding-left: 3vw;
}

.navbar-nav {
    padding-left: 30vw !important;
}

.navbar-nav li a {
    padding-left: 1.5vw;
    color: white !important;
    font-weight: 900;
    font-size: 1.2vw;
}

.card-deck {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
}

.card {
    width: 50vw;
    height: 40vh;
    padding-left: 2vw;
    margin: 2vw 3vw;
    box-shadow: 1px 1px 5px grey;
    border-radius: 5px;
}

.card-title {
    color: #554898;
    font-size: bold;
    font-weight: bold;
}

.card-body .btn {
    background-color: transparent;
    border: 1px #554898 solid !important;
    width: 10vw;
    margin-top: 2.1vw;
    font-weight: bold;
    color: #554898;
}

#add {
    background-color: rgb(212, 91, 91) !important;
    color: white;
}

#view {
    background-color: #554898 !important;
    color: white !important;
}

#form-log {
    border-radius: 5px;
    box-shadow: 1px 1px 5px;
    margin-top: 5vw !important;
    width: 55vw;
}

#registerFrm {
    border-radius: 5px;
    margin-top: 5vw !important;
    box-shadow: 1px 1px 5px;
    width: 55vw;
    height: 70vh !important;
}

#registerFrm h4,
#form-log h4 {
    color: #554898;
    font-weight: bold;
}

#registerFrm button {
    background: #554898;
}

.cats #downvote {
    background-color: red !important;
    color: white !important;
    font-weight: bold;
    border: none;
}

.cats #upvote {
    background-color: green !important;
    color: white !important;
    font-weight: bold;
}

.profpic {
    height: 10vw;
    background-color: red;
}


/* PROFILE TEMPLATE  */

#mypitches ul li {
    list-style-type: none;
}